body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #FF4C68;
  color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  font-size: 3.5rem;
  line-height: 1.5;
  /* margin-top: 1.5em; */
  font-weight: 900;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 7%; /*Added bottom padding for fine-tune*/
}

/*Download Buttons: Below is Yu's recommendation*/
.download-button {
  margin: 5% 3% 5% 0;
}
/* button {
  margin: 0.5em;
  margin-left: 0;
} This is what I did and its the same effect with Yu */

/* .col-lg-6 img {
  transform:rotate(20deg);
  position: relative;
  top: 5.5em;
} */


/**************** Navigation Bar ***************/
.navbar {
  padding: 0 0 4.5rem; /*i tried margin-bottom which also works, but this is Yu's recommendation.. */
  /*This is to align the navbar brand to the right along with the Title h1 text below it. */
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Title Image */
.title-image {
  width: 45%; /*This makes the image smaller*/
  transform: rotate(25deg);
  /*z-index: -1;*/ /* We set -1 to make the image go behind the stacking order */
  position: absolute;
  right: 30%;
}
/*NOTE By default, z-index is 0 for all elements*/

/*Features Section >>> MY WAY corrected*/
#features {
  background-color: white;
  position: relative;
  z-index: 1;
}

.features p {
  padding: 0 3rem;
  color: #8F8F8F;
}

.features i {
  color: #EF8172;
  margin-bottom: 1rem;
}

.features i:hover {
  color: #FF4C68;
}

.feature-row {
  padding: 7% 15%; /*This helps have the div box centered*/
  text-align: center;
}

.feature-heading {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

/*Features Section---- Angela's Way*/
/* #features {
  padding: 7% 15%;
}

.features {
  text-align: center;
  padding: 5%;
}

.feature-heading {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8F8F8F;
}

.fas {
  color: #EF8172;
  margin-bottom: 1rem;
}

.fas:hover {
  color: #FF4C68;
} */

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #EF8172;
  color: white;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
   /* This helps the carousl arrows (controls) to be pushed outwards */
}

#press {
  background-color: #EF8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}
